@page "/AtividadeUser/"

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Leilões</title>
    <link href="~/css/pagAtividadeUser.css" rel="stylesheet">
    <link href="~/css/background.css" rel="stylesheet">
</head>
<body>
    <img src="/images/logoPalavras.png" alt="Logo" id="logo">
    <div class="sidebar">
        <!-- Exemplo de botões de menu com links invisíveis -->
        <div class="menu-button"><a href="/PagInicial/"></a></div>
        <div class="menu-button"><a href="/PaginaUser/"></a></div>
        <div class="menu-button"><a href="/PaginaGaragem/" /></a></div>
        <div class="menu-button"><a href="/LicitacoesUser/"></a></div>
        <div class="menu-button"><a href="/LeiloesFavoritos/"></a></div>
        <div class="menu-button"><a href="/LeiloesFuturos/"></a></div>
        <div class="menu-button"><a href="/AtividadeUser/"></a></div>
        <!-- Adicione mais botões conforme necessário -->
    </div>
    ~
</body>
</html>