.auction-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
    padding-left: 170px;
    box-sizing: border-box;
    cursor: pointer;
}

.auction-image {
    margin-right: 20px; /* Valor ajustado se necessário para diminuir o espaço */
    flex: 0 0 200px; /* Mantém a largura fixa do contêiner da imagem */
    height: 150px; /* Mantém a altura fixa do contêiner da imagem */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

    .auction-image img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
    }

.auction-details {
    flex-grow: 1;
    text-align: left;
    margin-left: 20px;
}

.auction-name {
    font-weight: bold;
}

.auction-link {
    display: block; /* Isso faz com que o link se comporte como um bloco, envolvendo todo o conteúdo */
    color: inherit; /* Impede que o texto do link mude de cor */
    text-decoration: none; /* Remove o sublinhado do link */
}


.header {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    position relative;
}

#logo-carense {
    /* Ajuste a largura e altura conforme necessário */
    width: 150px; /* ou um valor específico */
    height: auto; /* ou um valor específico */
    margin-right: 20px; /* Ajuste conforme necessário para posicionar o logo */
    margin-top: 20px; /* Ajuste conforme necessário para posicionar o logo */   
}

.add-car-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto; /* Centraliza o botão */
    color: white; /* Cor do texto */
    text-decoration: none; /* Remove o sublinhado */
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 150px; /* Borda arredondada */
}

    .add-car-button:hover {
        background-color: #808080 /* Cor de fundo ao passar o mouse */
    }

.icone-add-carro {
    display: block;
    background-color: transparent;
    margin-top: 20px; /* Ajuste conforme necessário para posicionar abaixo do logo */
    cursor: pointer;
}