.auction-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
    padding-left: 170px;
    box-sizing: border-box;
}
/*.auction-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
    padding-left: 120px;*/ /* Valor ajustado para aproximar as imagens da descrição */
/*box-sizing: border-box;
}*/

/*.auction-image {
    margin-right: 50px;  
    flex: 0 0 200px;*/ /* largura do contêiner da imagem */
/*height: 150px;*/ /* altura do contêiner da imagem */
/*display: flex; 
    justify-content: center; 
    align-items: center; 
    overflow: hidden; 
}*/
.auction-image {
    margin-right: 20px; /* Valor ajustado se necessário para diminuir o espaço */
    flex: 0 0 200px; /* Mantém a largura fixa do contêiner da imagem */
    height: 150px; /* Mantém a altura fixa do contêiner da imagem */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

    .auction-image img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
    }

.auction-details {
    flex-grow: 1;
    text-align: left;
    margin-left: 20px;
}

.auction-name {
    font-weight: bold;
}














/*html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100vh;*/
    /*height: 100vh;*/ /* Forçar a altura mínima da página para a altura da janela do navegador */
    /*overflow-x: hidden;*/ /* Impede a rolagem horizontal */
/*}

.sidebar {
    background-image: url('/images/menu.png');
    background-size: 100% 100%;*/ /* Isso vai esticar a imagem para cobrir toda a barra lateral */
    /*background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    width: 150px;
    height: 100vh;
    z-index: 2;
    background-position: center center;
}

.menu-button {
    width: 100%;
    height: calc(100vh / 7);
    display: flex;
    align-items: center;
    justify-content: center;
}

    .menu-button a {
        width: 100%;
        height: 100%;
        display: block;
    }

#logo {
    position: fixed;
    top: 0.5em;*/ /* Espaço a partir do topo da página. Ajuste conforme necessário. */
    /*right: 2em;*/ /* Espaço a partir da borda direita da página. Ajuste conforme necessário. */
    /*width: 200px;*/ /* Largura do logo. Ajuste conforme necessário. */
    /*height: auto;*/ /* Altura automática para manter a proporção da imagem. */
    /*z-index: 1000;*/ /* Assegura que o logo fique sobre outros elementos. */
/*}*/