@page

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teste de Background</title>
    <style>
        body {
            background: url('corsa.jpg') no-repeat center center fixed;
            background-size: cover;
        }
    <style>
</head>
<body> 
    <p>Teste de imagem de fundo.</p>
</body>
</html>